<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tanto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Tanto.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Separator" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EpisodeNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterEpisodeNumbering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterPeriodSpacing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterUnderscoreSpacing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EpisodeNumbering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OriginalSpacing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterDoubleSpaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterTitleCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeriesTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeasonNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterHyphens" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterDashSpacing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterDashes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterAutoYear" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterRemoveYear" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterRemoveTags" serializeAs="String">
                <value>True</value>
            </setting>
        </Tanto.Properties.Settings>
    </userSettings>
</configuration>